// @import 'config';
@import 'lens/main.scss';

/*
body {

  background: $second-color;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;

}

a {
  color: $main-color;
  font-weight: 400;
  text-decoration: none;

}
*/
